@{ ViewBag.Title = "All Candidates"; }
@{ this.ViewData["UserName"] = this.Context.Request.Cookies["UserName"];}
@model ICollection<Carpooling.MVC.Models.TripCandidatesViewModel>

<h2>All Candidates</h2>
<br>
<form>
    <button asp-controller="Trip" asp-action="MyTrips" type="submit" class="btn btn-primary">Back</button>
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Rating</th>
            <th scope="col">IsApproved</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    @{
        foreach(var candidate in this.Model)
        {
            <tbody>
                <tr class="table-active">
                    <td scope="row">@candidate.Username</td>
                    <td>@candidate.Email</td>
                    <td>@candidate.PhoneNumber</td>
                    <td>@candidate.Rating</td>
                    <td>@candidate.IsApproved</td>
                    <td>
                        <form asp-controller="User" class="btn-group" role="group">
                            @if(!candidate.IsApproved)
                            {
                                <button asp-action="Approve" asp-route-Id="@candidate.Id" type="submit" class="btn btn-primary">Approve User</button>
                            }
                            else
                            {
                                <button asp-action="Reject" asp-route-Id="@candidate.Id" type="submit" class="btn btn-primary">Reject User</button>
                            }
                        </form>
                    </td>

                </tr>
            </tbody>
        }
    }
</table>
