@model Carpooling.Services.DTO.IncomeDTOs.UserDTO
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="container">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">

            <h1>Update Profile</h1>

            <form asp-action="@ViewBag.Action">

                <div class="form-group">
                    <label asp-for="@Model.Username">Username <span class="require">*</span></label>
                    <input asp-for="@Model.Username" type="text" class="form-control" />
                    <span asp-validation-for="Username" class="form-error"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Password">Password <span class="require">*</span></label>
                    <input asp-for="@Model.Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="form-error"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.FirstName">First Name<span class="require">*</span></label>
                    <input asp-for="@Model.FirstName" type="text" class="form-control" />
                    <span asp-validation-for="FirstName" class="form-error"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.LastName">Last Name<span class="require">*</span></label>
                    <input asp-for="@Model.LastName" type="text" class="form-control" />
                    <span asp-validation-for="LastName" class="form-error"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Email">Email<span class="require">*</span></label>
                    <input asp-for="@Model.Email" type="text" class="form-control" />
                    <span asp-validation-for="Email" class="form-error"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.PhoneNumber">PhoneNumber<span class="require">*</span></label>
                    <input asp-for="@Model.PhoneNumber" type="text" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="form-error"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.ImageUrl">ImageUrl</label>
                    <input asp-for="@Model.ImageUrl" type="text" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="form-error"></span>
                </div>

                <div class="form-group">
                    <td align="center"><img src="@Model.ImageUrl" width="180" height="200" class="img-fluid" alt="Responsive image"></td>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">@ViewBag.ButtonValue</button>
                    <button asp-controller="Home" asp-action="Index" type="submit" class="btn btn-primary">Back</button>
                </div>
            </form>
        </div>

    </div>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>